body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* Font Sizing */
  h1    { font-size: 2rem; }
  h2    { font-size: 1.7rem; }
  h3    { font-size: 1.47rem; }
  h4    { font-size: 1.16rem; }
  h5    { font-size: .83rem; }
  h6    { font-size: .75rem; }
   p    { font-size: 1.16rem;}
  small { font-size: .95rem; }
/* Wrapper */
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Header */
header {
  background-color: lightGrey;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 50px;
  padding: 25px;
  background-color: lightGrey;
}
/* Contact-form */
.contact-form{
  display:flex;
  flex-direction: column;
}

.msg-box > div{
  width:100%;
  margin-top:15px;
}

/* Media queries */

/* On screens that are 600px or more, set the background color to blue */
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Header */
  header {
    margin: 0 auto;
    width:100%;
    position: absolute;
    left:0;
    right:0;
    top: 0;
  }
  
  .inner {
      display:flex;
      flex-direction: column;
      align-items:center ;
  }

  /* Wrapper */
  .wrapper {
    margin: 0 auto;
    margin-top: 70px;
    width: 90%;
  }
  /* Main */
  main {
    margin-top:100px;
  }
  ul{
    list-style-type: none;
    
    padding:0;
  }
  li{
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    border: 1px black solid;
    margin: 10px 0;
    padding: 0 10px;
  }

  /* Footer */
  footer {
    width:100%;
    display: flex;
    justify-content: center;
    margin-left:-38px;
    padding-left:52px;
  }

  /* protfolio */
  .protfolio li {
    padding-bottom: 15px;
  }
  .protfolio li a {
    font-size: 1rem;
  }
  /* Contact-form */
  .contact-form{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .name-field{width:48%}
  .email-field{width:48%}
  .msg-box {width:100%;}
  .msg-box > div{
    margin-top:15px;
  }
}


/* On screens that are above 768px */
@media screen and (min-width: 769px) and (max-width: 768px) {
  /* Header */
  header {
    margin: 0 auto;
    width:100%;
    position: absolute;
    left:0;
    right:0;
    top: 0;
  }
  
  .inner {
      display:flex;
      flex-direction: column;
      align-items:center ;
  }

  /* Wrapper */
  .wrapper {
    margin: 0 auto;
    margin-top: 70px;
    width: 90%;
  }
  /* Main */
  main {
    margin-top:100px;
  }
  ul{
    list-style-type: none;
    
    padding:0;
  }
  li{
    display: flex;
    flex-direction: column;
    justify-items: space-evenly;
    border: 1px black solid;
    margin: 10px 0;
    padding: 0 10px;
  }

  /* Footer */
  footer {
    width:100%;
    display: flex;
    justify-content: center;
    margin-left:-38px;
    padding-left:52px;
  }

  /* protfolio */
  .protfolio li {
    padding-bottom: 15px;
  }
  .protfolio li a {
    font-size: 1rem;
  }
  /* Contact-form */
  .contact-form{
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .name-field{width:48%}
  .email-field{width:48%}
  .msg-box {width:100%;}
  .msg-box > div{
    margin-top:15px;
  }
}