html{
  font-size: 62.5%;
  width: 1024px;
  margin: 0 auto;
}
.App {
  text-align: center;
}

.TodoApp{
  display: flex;
  flex-direction:column;

}
.formStyling {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.form{
  margin-bottom: 10px;
}
