html{
  font-size: 62.5%;
}
.App {
  text-align: center;
}

.formStyling {
  width: 250px;
  display: flex;
  flex-direction: column;
}
<<<<<<< HEAD
.form{
  margin-bottom: 10px;;
=======

.form{
  margin-bottom: 10px;
>>>>>>> e86d558655bae95a52958eaa0dbaa737140721f6
}