.containerr{
    display: block;
    background-color: rgba(0, 0, 0, 0.575);
    padding-bottom: 20px;
    color: cornsilk;
}
.item{
    text-align: center;
}
.bio{
    text-align: center;
}
.img-container{
    max-height: 160px;
    overflow: hidden;
    border-radius: 50%;
}